<div class="span8 offset4">
	<h5>About Craft Crate</h5>

	<div>
		How It Started
		<ul>
			<br />
			<li>
				<p>
					After countless friends, family members, and sometimes strangers asked Taylor “where’d ya get that?” and the answer was always “I made it!”, she decided to share her DIYs and love for crafting with a larger audience. John provided the perfect support—with both technology and friendly encouragement—to make Craft Crate come to fruition.
				</p>

				<p>
					Now, Craft Crate comes to you from Los Angeles, California where John and Taylor spend sunny days browsing supply warehouses and brainstorming new craft ideas over Urth Café’s French Press coffees.
				</p>
			</li>
		</ul>
	</div>
	<br />

	<h5>The Craft Crate Team</h5>

	<div>
		<table>
			<tr>
				<td>
					<img src="https://sphotos-a-pao.xx.fbcdn.net/hphotos-prn1/65648_10200273304129441_912590374_n.jpg" height="100" width="100" class="pic">
				</td>
				<td>
					<h5>Taylor</h5>
					<p>Co-Founder and Master Crafter</p>
				</td>
			</tr>
		</table>
		<p>
			Taylor has professional experience in fashion journalism, editing, styling, and marketing. 
		</p>
		<p>
			With an inherent ability to re-create tasteful and trendy fashions and home décor, Taylor is the master crafter behind Craft Crate. She can often be found scouring local and foreign thrift stores and transforming vintage fabrics, clothing, accessories and home goods into modern day treasures. When she is not sewing, painting, or thrifting, Taylor is often found reading in the sun or watching Carey Grant movies.
		</p>
	</div>

	<br />

	<div>
		<table>
			<tr>
				<td>
					<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/182105_10151324801068849_968731157_n.jpg" height="100" width="100" class="pic">
				</td>
				<td>
					<h5>John</h5>
					<p>Co-Founder and Lead Tech Nerd</p>
				</td>
			</tr>
		</table>
		<p>
			With a background in software development and personal interests in design, aesthetics and, all things cool, John is the lead engineer behind Craft Crate. He is a handsome tech nerd with an inherent eye for design and aesthetics. You can often find him listening to Neil Young, drinking coffee, and nerding out on his MacBook.
		</p>
	</div>

	<br />

	<div>
		<table>
			<tr>
				<td>
					<img src="https://sphotos-b-pao.xx.fbcdn.net/hphotos-prn1/18463_1284463225966_6373645_n.jpg" height="100" width="100" class="pic">
				</td>
				<td>
					<h5>David</h5>
					<p>Web Nerd</p>
				</td>
			</tr>
		</table>
		<p>
			With a background in web development, David came aboard extending his expertise to jumpstart the web application and has been adding new features ever since. Some would say he is Crafty...(if you will).
		</p>
	</div>

	<br />
	<br />

	<h5>
		Craft with Us!
	</h5>

	<br>
	<br>
	<br>
</div>