<div class="span8 offset4">
  <h5>Contact Us!</h5>

  <p>We appreciate all types feedback!</p>
  
  <br />
  <a href="mailto:contact@craftcrate.io">
    contact@craftcrate.io
  </a>

  <br />
  <br />
  <br />
  <br />

</div>