<div class="span8 offset4">
  <h5>Contact Us!</h5>

  <p>We appreciate all types feedback!</p>
  
  <br />
  <a href="mailto:ContactCraftCrate@gmail.com">
    ContactCraftCrate@gmail.com
  </a>

  <br />
  <br />
  <br />
  <br />

</div>