<div class="span8 offset4">
	<h5>The Crate</h5>
	<p>
		If you are like us, you love getting fun mail (i.e. post cards, new shoes, packages from Shop Bop, etc.). And if you are even more like us (we should be friends), you will love getting craft supplies and DIY tutorials in the mail every month. Now you can.
	</p>

	<p>
		Craft Crate is a monthly subscription box that delivers all of the crafting supplies you need to complete a chic DIY project for your home or wardrobe. Each crate comes with explicit DIY instructions, the necessary craft supplies, and a bit of inspiration from the Craft Crate team.
	</p>

	<div>
		So what kind of crafts can you expect?
		<ul>
			<li>Dip-dyed tea towels</li>
			<li>Tassel Garlands</li>
			<li>DIY Kimonos</li>
			<li>Embellished T-shirts inspired by modern fashion houses</li>
			<li>Quirky DIY jewelry</li>
			<li>And so much more!</li>
		</ul>
	</div>

	<p>
		This is a craft box for chic crafters with an eye for aesthetics.
	</p>

	<p>
		Price: $30/Month
	</p>

	<br>

	<%= link_to "Get Started!",
			new_order_url,
			class: "btn btn-info" %>
	<br>
	<br>
	<br>
	<br>
</div>


