<div class="span8 offset4">
	<h5>FAQs</h5>
	<div>
		Why Craft Crate?
		<ul>
			<li>
				Because we offer substantial DIY tutorials and supplies that will help you embellish your wardrobe and home beyond the average crafter. You can expect quality DIYs that are both functional and fun, trendy and tasteful.
			</li>
		</ul>
	</div>

	<div>
		Why a Subscription?
		<ul>
			<li>
				Because crafting is fun! Plus we make it easy for you to take the time to enjoy your hobby. Let us worry about getting the craft supplies and figuring out how you can dye silk… you are busy enough! All you have to do is block off a Sunday afternoon and make some iced tea to prepare for crafting fun. Maybe invite a friend to join you!
			</li>
		</ul>
	</div>

	<div>
		How Will I know When My Box Has Shipped?
		<ul>
			<li>
				We will let you know! Boxes will ship by the 10th of each month from Los Angeles, California and will take 5-10 days to arrive. Woohoo!
			</li>
		</ul>
	</div>

	<div>
		Can I buy a single box instead of a subscription?
		<ul>
			<li>
				Yes! If you would like to order a box to give as a gift, please let us know and we would be happy to fulfill your one-time order.
			</li>
		</ul>
	</div>

	<div>
		How do I cancel my order?
		<ul>
			<li>
				Simple! Go to your <%= link_to "orders",orders_url %> and click on the 'Cancel Subscription' button. Please note however, that you can not cancel your first box.
			</li>
		</ul>
	</div>

	<br />

	<p>
		We have probably missed someone’s burning question, so please feel free to contact us if your question hasn’t been answered. We’ll get back to you as soon as humanly possible!
	</p>

	<br>
	<br>
	<br>
	<br>
</div>