<div class="container">
	<div class="wrapper center" id="middle_reserve">
		<h2><%= Settings.ships %></h2>
		<a href="/orders/new" class="btn btn-large btn-block btn-inverse btn-order">Subscribe Now</a>
	</div>
</div>
