<div class="footer">
  <div class="wrapper clearfix">
  	<ul>
      <li class="item">
        <a class="pull-left link-bottom" href="/about">
          About
        </a>
      </li>
      <li class="item">
		    <a class="pull-left link-bottom" href="/faq">
          FAQ
        </a>
      </li>
      <li class="item">
        <a class="pull-left link-bottom" href="/contact">
          Contact
        </a>
      </li>
      <li class="item">
        <a class="pull-left link-bottom" href="http://craftcrate.wordpress.com">
          Blog
        </a>
      </li>
    </ul>  	
    <%= render 'orders/copyright' %>
  </div>
</div>
<%= render 'orders/google_analytics' %>
