<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is CraftCrate?
      </h3>
      <p>
        CraftCrate is a once-a-month craft delivery service. Each month you'll be greeted with a unique crafty crate, full of all the materials you need to make something awesome.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        But why?
      </h3>
      <p>
        Sometimes your most beautiful and cherished possessions are made by your own bare hands. We believe that crafting your way through life lets you learn to make and love the little things.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        You expect me to pay you?
      </h3>
      <p>
        If you think we should pay back our student loans, yes.
      <p>
    </div>
  </div>
</div>
