<div class="craft_bg">
	<div class="frame">
		<div class="craft_overlay">
			<div class="frame_inner">
				<h1>MONTHLY DIY CRAFTS FOR YOUR WARDROBE & HOME</h1>
				<a href="/preorder/checkout" class="btn btn-large btn-block btn-inverse craft_button">Get Started</a>
			</div>
		</div>
	</div>
</div>