.footer 
{
  padding: 40px 0;
  ul 
  {
    float: left;
  }
  li 
  {
    display: inline-block;
    padding-right:14px;
    margin-bottom: 10px;
  }
  a 
  {
    font-size: 18px;
    color: #6C6C6C;
    font-family: "proxima-nova", $primary_font, $secondary_font, $tertiary_font;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover
  {
    color: #BBB;
  }
  p 
  {
    font-size: 18px;
  }
}