.top_bar 
{
  height: 40px;
  background-color: #F8F8F8;
  width: 100%;
  #user_nav
  {
    float: right;
    font-size: 16px;
    margin-top: 8px;
    margin-right: 140px;
    //color: #DDD;
    ul
    {
      li:first-of-type{
        padding-right: 20px;
      }

      li
      {
        display: inline-block;        
        a
        {
          font-family: "freight-sans-pro", $primary_font, $secondary_font, $tertiary_font;
          color :#6C6C6C;
          text-decoration: none;
          font-weight: 600;
          text-shadow: none;
        }
        a:hover
        {
          text-decoration: none;
          color: #BBB;
        }
      }
    }
  }
}

.demo-headline 
{
  padding: 60px 0 120px;
  h1.demo-logo 
  {
    font-family: "freight-sans-pro", $primary_font, $secondary_font, $tertiary_font;
    font-weight: 500;
    width: 100%;
    a
    {
      color: #34495e;
    }
  }
}

#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;

  .wrapper
  {
    width: 100%;
  }
}

#craft_nav
{
  font-size: 30px;
  margin-bottom: 14px;
  ul
  {
    text-align: center;
    margin: 0 auto;
    padding: 0;

    li
    {
      display: inline-block;
    }

    li.item
    {      
      padding: 0px 30px;
      h3
      {

        a
        {
          color :#6C6C6C;
          font-weight: 400;
          font-family: "proxima-nova", $primary_font, $secondary_font, $tertiary_font;
          -webkit-transition: color .4s ease;
          -moz-transition: color .4s ease;
          transition: color .4s ease;
          text-decoration: none;
        }

        a:hover
        {
          text-decoration: none;
          color: #BBB;
        }
      }
    }

    li.vertical_bar
    {
      background: #C4C4C4;
      width: 1px;
      height: 30px;
      padding-top: -3px;
      margin-bottom: -10px;
    }
  }
}
