@import "homepage/stats";
@import "homepage/call_to_action";
@import "homepage/key_points";
@import "homepage/other_points";
@import "homepage/press";
@import "homepage/social";
@import "homepage/faq";

.craft_bg
{
  background-image: url(image_path("tassels.png"));
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-behavior: url(/assets/background_size/backgroundsize.htc);
  //padding-bottom: 38.57%;
  position: relative;
  overflow: hidden;

  .frame
  {
    height: 500px;
    .craft_overlay
    {
      //float: right;
      width: 400px;
      background: rgba(255,255,255,.8);
      height: 100%;
      margin-left: 200px;

      .frame_inner
      {
        padding: 0 20px;
      }
      h1
      {
        text-align: center;
        width: 100%;
        margin-top: 50%;
        font-family: "freight-sans-pro", $primary_font, $secondary_font, $tertiary_font;
        text-shadow: none;
        font-weight: 200;
        font-size: 42px;
        line-height: 44px;
      }
      .craft_button
      {
        width: 200px;
        text-align: center;
        position: absolute;
        height: 60px;
        bottom: 0;
        margin-bottom: 60px;
        padding-top: 20px;
        font-size: 20px;
        margin-left: 80px;
      }

    }
  }
  
}



#tweet_button
{
  margin-top: 5px;
}

.fb-like 
{
	margin-left: 5px;
	float:left;
}

#video 
{
  float: left;
  width: 512px;
  height: 385px;
  background: #fff;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  img:hover
  {
    opacity: 0.5;
    cursor: pointer;
  }
}