<div class="footer">
  <div class="wrapper clearfix">
  	<ul>
      <li class="item">
        <a class="pull-left link-bottom" href="">About</a>
      </li>
      <li class="vertical_bar"></li>
      <li class="item">
		<a class="pull-left link-bottom" href="">FAQ</a>
      </li>
      <li class="vertical_bar"></li>
      <li class="item">
        <a class="pull-left link-bottom" href="">Contact</a>
      </li>
    </ul>  	
    <%= render 'preorder/copyright' %>
  </div>
</div>
<%= render 'preorder/google_analytics' %>
